@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&family=Share+Tech+Mono&family=Orbitron:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全局 Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #050b14;
  color: #e0f7fa;
  overflow-x: hidden;
}

#app {
  min-height: 100vh;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #020408; 
}

::-webkit-scrollbar-thumb {
  background: #00f3ff; 
  border-radius: 2px;
  box-shadow: 0 0 5px #00f3ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #bc13fe; 
}
